@import url('reset.css');

*{
    text-decoration: none;
    color: #333;
}

/*--------------- 地圖選單 ---------------*/

.map_nav{
    /* background-image: url('../img/HOME/map\ nav.png'); */
    /* background-repeat: no-repeat; */
    max-width: 1440px;
    height: 782px;
    background-size: contain;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #CBEEF6;
    position: relative;
    overflow: hidden;
}

.map_nav>img:first-child{
    width: 308px;
    margin: 16px 0 0 28px;
    float: left;
}

.map_nav>img:not(img:first-child){
    position: absolute;
    z-index: 2;
}

.map_nav>img:nth-child(2){
    width: 110px;
    top: 203px;
    left: 116px;
    animation: cloud_left 130s linear infinite;
}

@keyframes cloud_left{
    0%{
        left: 3%;
        opacity: 0;
    }

    5%{
        left: 7%;
        opacity: 1;
    }

    95%{
        opacity: 1;
    }

    100%{
        left: 110%;
        opacity: 0;
    }
}

.map_nav>img:nth-child(3){
    width: 51px;
    top: 280px;
    left: 248px;
}

.map_nav>img:nth-child(4){
    width: 155px;
    top: 577px;
    left: 100px;
    animation: boat 120s linear infinite;
}

@keyframes boat{
    0%{
        top: 577px;
        left: 100px;
        transform: rotateY(0deg); 
    }

    29%{
        top: 550px;
        left: 500px;
        transform: rotateY(0deg);
    }

    30%{
        top: 550px;
        left: 500px;
        transform: rotateY(180deg);
    }

    74%{
        top: 600px;
        left: -200px;
        transform: rotateY(180deg);
    }

    75%{
        top: 600px;
        left: -200px;
        transform: rotateY(360deg);
    }

    100%{
        top: 577px;
        left: 100px;
        transform: rotateY(360deg);
    }
}

.map_nav>img:nth-child(5){
    width: 103px;
    top: 668px;
    left: 386px;
    animation: cloud_mid 80s linear infinite;
}

@keyframes cloud_mid{
    0%{
        left: 23%;
        opacity: 0;
    }

    2%{
        left: 24%;
        opacity: 1;
    }

    93%{
        opacity: 1;
    }

    100%{
        left: 80%;
        opacity: 0;
    }
}

.map_nav>img:nth-child(6){
    width: 78px;
    top: 695px;
    left: 1125px;
    animation: bird_right 10s linear infinite;
}

@keyframes bird_right{
    0%{}

    100%{}
}

.map_nav>img:nth-child(7){
    width: 158px;
    top: 291px;
    left: 1208px;
    animation: cloud_right 60s linear infinite;
    opacity: 0;
}

@keyframes cloud_right{
    0%{
        opacity: 0;
    }

    48%{
        left: 60%;
        opacity: 0;
    }

    50%{
        left: 60.5%;
        opacity: 1;
    }

    95%{
        left: 88%;
        opacity: 1;
        /* display: none; */
    }

    100%{
        left: 90%;
        opacity: 0;
        /* display: none; */
    }
}

.map_nav>img:nth-child(8){
    width: 86px;
    top: 376px;
    left: 129px;
}

.map_nav>img:nth-child(9){
    width: 124px;
    top: 707px;
    left: 1285px;
}

.map_nav>img:nth-child(10){
    width: 90px;
    top: 80px;
    left: 1350px;
}


/* 貓島 */

.cat_island{
    width: 67.88%;
    height: 92.87%;
    margin-left: 298px;
    position: relative;
}

.cat_island a{
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    color: #666;
    transition: all .5s ease;
}

.cat_island a:first-child{
    width: 191.35px;
    height: 141.41px;
    background-image: url('../img/HOME/island\(1st\).png');
    line-height: 141.41px;
    top: 320px;
    left: -1px;
}

.cat_island a:nth-child(2){
    width: 229px;
    height: 202.49px;
    background-image: url('../img/HOME/island\(2nd\).png');
    line-height: 202.49px;
    top: 86px;
    left: 95px;
    z-index: 1;
}

.cat_island a:nth-child(2) p{
    padding-right: 28px;
}

.cat_island a:nth-child(3){
    width: 274.88px;
    height: 159.97px;
    background-image: url('../img/HOME/island\(3rd\).png');
    line-height: 159.97px;
    top: -2px;
    left: 327px;
}

.cat_island a:nth-child(3) p{
    padding-right: 8px;
}

.cat_island a:nth-child(4){
    width: 258.2px;
    height: 218.82px;
    background-image: url('../img/HOME/island\(4th\).png');
    line-height: 218.82px;
    top: 60px;
    left: 643px;
    z-index: 1;
}

.cat_island a:nth-child(4) p{
    padding-right: 16px;
}

.cat_island a:nth-child(5){
    width: 841.5px;
    height: 529.23px;
    background-image: url('../img/HOME/island\(main\).png');
    font-size: 28px;
    line-height: 2;
    top: 196px;
    left: 135px;
    display: flex;
    justify-content: center;
}

.cat_island p{
    align-content: center;
    color: #666;
}

.cat_island a:hover{
    transform: translateY(-12px);
    text-shadow: 0 0 0.5em #fff, 0 0 0.5em #fff, 0 0 0.5em #fff;
}